From: 
= from
To:
= to

%table
  %tr.pretty
    %th Call date
    %th Source
    %th Destination
    %th Duration
    %th Bill seconds
    %th Rate
    %th Cost

  = render :partial => 'call', :collection => @calls  
Total Cost:
= @calls.inject(0.0) { |sum, i| sum + i.cost}


= link_to "Save Report", root_url
