.span-20{:class => cycle('even', 'odd')}
  .span-3
    = call.calldate.to_s(:our_format)
    
  .span-3
    = call.src

  .span-3
    = call.dst

  .span-3
    = call.duration

  .span-3.last
    = call.cost
