- if !@invoices.empty?
  .container
    .span-20{:style => "background-color: blue;"}
      .span-4
        Invoide #

      .span-8
        User Name

      .span-8.last
        Total

    .span-2.prepend-1
      = link_to "New Invoice", new_invoice_path()


    - @invoices.each do |invoice|
      .span-20{:style => "background-color: blue;"}
        .span-4
          = invoice.id

        .span-8
          = invoice.user.email

        .span-8.last
          = invoice.total

- else
  .test
    There are not invoices saved yet


%br

  = form_for Invoice.new, :url => filter_calls_invoices_path(), :remote => true do |f|
    .column
      .span-14
        = f.label :from, 'From: '
        = f.text_field(:from, :size=>8) 

        = f.label :to, 'To:'
        = f.text_field(:to, :size=>8) 

        = f.submit 'Go'
%br
  #calls

    
:javascript

  $(function() {

    var dates = $( "#invoice_from, #invoice_to" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      changeYear: true,
      numberOfMonths: 3,
      dateFormat: 'yy-mm-dd',
      
      onSelect: function( selectedDate ) {
        var option = this.id == "invoice_from" ? "minDate" : "maxDate", 
        instance = $( this ).data( "datepicker" ),
        date = $.datepicker.parseDate(instance.settings.dateFormat ||
        $.datepicker._defaults.dateFormat, selectedDate, instance.settings );

        dates.not( this ).datepicker( "option", option, date );
      }
    });
  });

  $(document).ready(function(){
    $(".test").click( function(){
      alert('click on test class...');
    });
  });

