%h1 Listing saved expenses

- if !@invoices.empty?
  %table#invoices
    %tr.pretty
      %th Invoice
      %th From
      %th To
      %th User
      %th Total
    
    - @invoices.each do |invoice|
      %tr{:id => "invoice_#{invoice.id}", :class => "body #{cycle(:odd, :even)}"}
        %td= invoice.id
        %td= invoice.from
        %td= invoice.to
        %td= invoice.user.email
        %td= number_to_currency(invoice.total)

- else
  %h2
    There are not invoices saved yet


