- if !@invoices.empty?
  .container
    .span-22
      .span-4
        Invoice #
      .span-4
        From
      .span-4
        To
      .span-6
        User Name
      .span-4.last
        Total

    - @invoices.each do |invoice|
      .span-22
        .span-4
          = invoice.id
        .span-4
          = invoice.from
        .span-4
          = invoice.to
        .span-6
          = invoice.user.email
        .span-4.last
          = number_to_currency(invoice.total)

- else
  %h2
    There are not invoices saved yet


