%p#notice= notice

%p
  %b User:
  = @device.user_id
%p
  %b Exten:
  = @device.exten
%p
  %b Priority:
  = @device.priority

= link_to 'Edit', edit_device_path(@device)
\|
= link_to 'Back', devices_path
