%tr.body{:id => "user_#{user.id}"}
  %td= user.last_name
  %td= user.name
  %td= user.email
  %td= user.admin
  %td
  %td= link_to 'Edit', edit_user_path(user), :class => 'popme'
  %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete 
