= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
 
%table
  %tr.pretty.ajaxifyme
    %th=sortable "last_name", "Lastname"
    %th=sortable "name"
    %th=sortable "email"
    %th=sortable "admin"
    %th
    %th
    %th= link_to 'New User', new_user_path(:format => 'html'), :class => 'popme'
 
  = render :partial => 'user', :collection => @users

%br
  = will_paginate
  
:javascript
  $(function() {
    $("a.popme").fancybox();
  });
