#hiddens

.column
  .span-4
    .field
      = f.label :calldate
  .span-8
    #calldate
    = select_time(@incomming_call.calldate, :include_seconds => true)

.span-4
  .field
    = f.label :src, "Source"
.span-8
  = f.select 'src', Device.all.map(&:exten)

.span-4
  .field
    = f.label :dst, "Destination"
.span-8
  = f.text_field :dst

.span-4
  .field
    = f.label :duration, "Durations"
.span-8
  = f.text_field :duration

.span-4
  .field
    = f.label :billsec, "Bill seconds"
.span-8
  = f.text_field :billsec

.actions
  = f.submit 'Save', :id => 'submit_button'

:javascript
  $(document).ready(function() {
    $("#submit_button").click( function(){
      from_date = $(" #calldate ").val();
      input_tag = "<input type =\"hidden\" id=\"incomming_call_calldate\" name=\"incomming_call[calldate]\" value=\"" + from_date + "\">";

      $("#hiddens").append(input_tag);
    });
  });

  $(function() {
    $('#calldate').datepicker({ inline: true, defaultDate: "#{@incomming_call.calldate}", dateFormat: "yy-mm-dd"});
  });

