%tr{:id => "outgoingcall_#{outgoing_call.id}", :class => "body #{cycle('odd','even')}"}
  %td= outgoing_call.calldate
  %td= outgoing_call.src
  %td= outgoing_call.dst
  %td= outgoing_call.duration
  %td= outgoing_call.billsec
  %td= outgoing_call.cost
  - if current_user.admin?
    %td= link_to image_tag("my_images/edit.png", :alt => "Edit"), edit_outgoing_call_path(outgoing_call), :class => 'popme'
    %td= link_to image_tag("my_images/delete.png", :alt => "Delete"), outgoing_call, :confirm => 'Are you sure?', |
                              :method => :delete, |
                              :remote => true
  - else
    %td
