%h1.title=t(:data_range)

= form_for Invoice.new, :url => filter_calls_consults_path(), :remote => true do |f|
  .column
    .span-14
      = f.label t(:from)
      = f.text_field(:from, :size=>8, :autocomplete => :off) 

      = f.label t(:to)
      = f.text_field(:to, :size=>8, :autocomplete => :off) 

      = f.submit t(:go), :id => 'submiting'

      = link_to t(:month_spending), "#", :id => 'spending'
%br
  #calls
    
:javascript

  $(function() {

    var dates = $( "#invoice_from, #invoice_to" ).datepicker({
      
      changeMonth: true,
      changeYear: true,
      numberOfMonths: 2,
      dateFormat: 'yy-mm-dd',
      showAnim: 'fade',
      duration: 'slow',

      onSelect: function( selectedDate ) {    

        var option = this.id == "invoice_from" ? "minDate" : "maxDate", 
        instance = $( this ).data( "datepicker" ),
        date = $.datepicker.parseDate(instance.settings.dateFormat ||
        $.datepicker._defaults.dateFormat, selectedDate, instance.settings );

        dates.not( this ).datepicker( "option", option, date );
      }
    });
  });

  $(document).ready(function(){
    $("#spending").click(function(){
    
      var currentTime = new Date()
      var month = currentTime.getMonth() + 1
      var day = currentTime.getDate()
      var year = currentTime.getFullYear()

      var from = year + "-" + month + "-1";
      var to = year + "-" + month + "-" + day;
      $("#invoice_from").val(from);
      $("#invoice_to").val(to);
    });
  });
  
  
  $(document).ready(function(){
    $("#submiting").click(function(){
      
      from_tag = $("#invoice_from").attr('value');
      to_tag = $("#invoice_to").attr('value');
      
      if (from_tag == '' || to_tag == ''){
        alert("Date range can't be blank");
        return false;
      }
     
    });
  });
