= form_for @failed_call do |f|
  -if @failed_call.errors.any?
    #error_explanation
      %h2= "#{pluralize(@failed_call.errors.count, "error")} prohibited this failed_call from being saved:"
      %ul
        - @failed_call.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :calldate
    = f.datetime_select :calldate
  .field
    = f.label :src
    = f.text_field :src
  .field
    = f.label :dst
    = f.text_field :dst
  .field
    = f.label :duration
    = f.text_field :duration
  .field
    = f.label :billsec
    = f.text_field :billsec
  .actions
    = f.submit 'Save'
