%h1 Listing Failed Calls

%table
  %tr.pretty
    %th= sortable "calldate", "Call date"
    %th= sortable "src", "Source"
    %th= sortable "dst", "Destination"
    %th= sortable "duration", "Duration"
    %th= sortable "billsec", "Bill seconds"
    %th
    %th= link_to 'New Failed call', new_failed_call_path, :class => 'popme'
    %th

  - @failed_calls.each do |failed_call|
    %tr.body
      %td= failed_call.calldate
      %td= failed_call.src
      %td= failed_call.dst
      %td= failed_call.duration
      %td= failed_call.billsec
      %td= link_to 'Edit', edit_failed_call_path(failed_call), :class => 'popme'
      %td= link_to 'Destroy', failed_call, :confirm => 'Are you sure?', :method => :delete

%br
= will_paginate

