= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
 
%table#rates
  %tr.pretty.ajaxifyme
    %th=sortable "prefix"
    %th=sortable "initial_time", "Initial time"
    %th=sortable "initial_cost", "Initial cost"
    %th=sortable "interval_time", "Interval time"
    %th=sortable "interval_cost", "Interval cost"
    %th
    %th
    - if current_user.admin?
      %th= link_to image_tag("my_images/add.png", :alt => "New", :size => "24x24"), new_rate_path, :class => 'popme'

  = render :partial => 'rate', :collection => @rates

%br
  = will_paginate
