!!!Strict
%html
  %head
    %title="RuBill v0.1"
    = stylesheet_link_tag 'glip.css', 'application.css', 'pagination.css'
    = javascript_include_tag :defaults
    = csrf_meta_tag

    = active_scaffold_includes

    / *************************************************************************
    / BluePrint CSS Framework 
    / ************************************************************************* 
    = stylesheet_link_tag 'blueprint/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'blueprint/print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'blueprint/ie.css', :media => 'screen, projection'
      
    = stylesheet_link_tag 'fancybox/jquery.fancybox-1.3.4.css'
    = javascript_include_tag 'fancybox/jquery.fancybox-1.3.4.js'

    = stylesheet_link_tag 'redmond/jquery-ui-1.8.14.custom.css'
    = javascript_include_tag 'jquery-ui-1.8.14.custom.min.js'

    = stylesheet_link_tag 'jquery-ui-timepicker.css'
    = javascript_include_tag 'jquery.ui.timepicker.js'
    
    :javascript
      $(function() {
        $("a.popme").fancybox();
      });

%body
  .header
    #news.round{:style => 'display:none;'}
    .title
      RuBill v0.1

    .subtitle
      = yield :subtitle

    .flashes
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"



  .main-container
    .leftbar
      .title
        Navigation bar

      = render_navigation

    .main
      = yield

  .footer Copyright &copy; #{Time.now.year} MKE Solutions
